* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
}

/* Navbar */

header {
    background-color: rgba(52, 24, 117, 1.0);
    font-family: 'Barlow Condensed', Helvetica, sans-serif;

    width: 100%;
    height: 100px;
}

header nav {
    display: flex;
    align-items: center;
    justify-content: space-between;

    width: 1200px;
    height: 100%;

    padding: 0 15px;
    margin: 0 auto;
}

header ul {
    display: flex;
}

header li {
    position: relative;
    margin: 15px;
}

header a {
    font-size: 18px;
    font-weight: 600;
    color: white;

    transition: color 0.2s;
}

header a:hover {
    color: rgba(255, 105, 40, 1.0);
}

header a.actived {
    color: rgba(255, 105, 40, 1.0);
}

header .logo {
    font-size: 50px;
    font-weight: 600;
}

header .logo:hover {
    color: white;
}

header .dropdown {
    display: flex;
    align-items: center;
}

header .dropdown:hover svg, header .dropdown:hover a {
    color: rgba(255, 105, 40, 1.0);
    fill: rgba(255, 105, 40, 1.0);
}


header .dropdown svg {
    width: 10px;
    height: 16px;

    margin: 0 5px 0 10px;

    fill: white;
    transition: fill 0.2s;
}

header .dropdown ul {
    position: absolute;
    display: none;
    top: 40px;
    left: -10px;
    background-color: #fff;
      
    z-index: 2;
}

header .dropdown:hover ul{
    display: block;
}

header .dropdown ul li{
    display: block;
    width: 150px;

    font-family: "Barlow Condensed";
    font-size: 18px;
    font-weight: 300;
    color: #444444;

    overflow: hidden;

}

/* Section 1 */

.section-1 {
    background: linear-gradient(240deg, #ff6735 0%, #ffad2b 100%);
    font-family: "Barlow Semi Condensed", Sans-serif;

    width: 100%;
    height: 652px;
    overflow: hidden;
    position: relative;
}

.section-1 .background {
    background-image: url(./images/desert.jpg);
    background-size: contain;
    background-repeat: no-repeat;

    opacity: 0.4;
    mix-blend-mode: overlay;

    position: absolute;
    width: 100%;
}

.section-1 .container {
    color: white;

    width: fit-content;

    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;

    margin: 66px 0 0 115px;

    position: relative;
}

.section-1 .container h1 {
    font-weight: 700;    
    font-size: 70px;
    line-height: 1;

    width: 571px;
}

.section-1 .container p {
    font-size: 21px;
    font-weight: 300;
    line-height: 1;
}

.section-1 .container strong {
    font-size: 21px;
    line-height: 1.3;
} 

.section-1 .container a {
    background-color: #ff4800;

    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    color: white;

    border-radius: 5px;

    width: 199px;
    height: 54px;

    display: flex;
    align-items: center;
    justify-content: center;

    transition: all .3s;
}

.section-1 .container a:hover {
    background-color: #4526b5;
}

.section-1 img {
    width: 1008px;

    position: absolute;
    top: -54px;
    right: -240px;

    z-index: 1;
}

.section-1 svg {
    position: absolute;
    bottom: -1px;
    transform: rotate(180deg);

    width: calc(100% + 1.3px);
    height: 151px;

    fill: white;
}

/* Section 2 */

.section-2 {
    display: flex;
    flex-direction: column;
    align-items: center;

    text-align: center;

    width: 1349px;

    padding-bottom: 100px;
}

.section-2 .header-1 {
    font-family: "Barlow Semi Condensed";
    font-weight: 600;
    font-size: 63px;
    line-height: 1;

    padding-top: 51px;
    margin-bottom: 22px;
}

.section-2 .line-solid {
    border-top: 1px solid #ef3b00;
    width: 255px;
    margin: 0 auto 22px;
}

.section-2 p {
    font-family: "Barlow";
    font-weight: 100;
    font-size: 27px;
    line-height: 1.3em;

    width: 912px;
    margin: 27px 0 47px 0;
}

.section-2 .image-container {
    display: flex;
    align-items: center;

    margin: 10px 0 5px;
    width: 912px;

    background-image: radial-gradient(at center center, #dddddd 0%, #ffffff 60%);
}

.section-2 .image-container .img-wrapper {
    text-align: center;
    width: 33.33%;
}

.section-2 .image-container .image-1, .section-2 .image-container .image-3 {
    width: 227.19px;
}

.section-2 .line-dotted {
    border-top: 10px dotted #005dd8;

    width: 255px;
    margin: 10px auto 10px;
    padding: 10px 0;
}
.section-2 .header-2 {
    font-family: "Barlow Semi Condensed";
    font-weight: 600;
    font-size: 63px;
    line-height: 1;
}


.section-2 span {
    font-family: "Barlow Semi Condensed";
    font-weight: 500;
    font-size: 21px;
    color: #606060;
    line-height: 1;

    padding-top: 5px;
}

.section-2 h3 {
    font-family: "Barlow Condensed";
    font-weight: 400;
    font-size: 50px;
    color: #efab58;

    margin-top: 48px;
}

.section-2 h4{
    font-family: "Barlow Condensed";
    font-weight: 700;
    font-size: 55px;
    color: #ef5b00;

    margin-top: -21px;
}

/* Section 3 */

.section-3 {
    display: flex;
    align-items: center;
    justify-content: center;

    position: relative;
    height: 624px;

    background: linear-gradient(90deg, #ef3300 0%, #ef9517 100%);
    font-family: "Barlow Condensed", sans-serif;

    z-index: 0;
}

.section-3 .background {
    background-image: url(./images/desert_wasteland.jpg);
    background-size: cover;
    background-attachment: fixed;
    opacity: 0.29;

    width: 100%;
    height: 100%;

    position: absolute;
    top: 0;
    left: 0;
    
    z-index: -1;
}

.section-3 .container-svg {
    position: absolute;
    width: 1349px;
    height: 624px;
    overflow: hidden;
}

.section-3 .container-svg .svg-top {
    position: absolute;

    width: calc(100% + 1.3px);
    height: 131px;
    top: -1px;

    fill: white;
}


.section-3 .container-svg .svg-bottom {
    position: absolute;
    bottom: -1px;
    left: 0;

    width: calc(100% + 1.3px);
    height: 55px;
    transform: rotate(180deg);

    fill: white;
}

.section-3 .content {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 1140px;
}


.section-3 h3 {
    font-size: 70px;
    font-weight: 700;
    color: white;
    line-height: 1;

    width: 470px;

    margin-right: 260px;

    z-index: 2;
}

.section-3 img {
    position: absolute;
    top: -90px;
    left: 430px;
    width: 513px;

    z-index: 1;
}

.section-3 .container {
    display: flex;
    flex-direction: column;
}

.section-3 .container .cards {
    display: flex;
    flex-direction: column;
    gap: 5px;

    font-size: 30px;
    font-weight: 500;
    color: white;

    position: relative;
}

.section-3 .container .cards .card {
    display: flex;
    justify-content: flex-end;
    align-items: center;

    width: 382px;
    height: 58px;
    border-radius: 15px;

}

.section-3 .container .cards .card svg {
    width: 7%;
    margin: 0px 10px;
}

.section-3 .container .cards .black {
    background-image: linear-gradient(260deg, #ef9b00 0%, rgba(242,41,91,0) 100%);

    fill: white;
}

.section-3 .container .cards .white {
    background-color: white;
    color: #54595f;
    fill: #54595f;
}

.section-3 .container a {
    font-size: 23.3px;
    font-weight: 500;
    color: white;

    position: relative;

    background-color: #f0ad4e;

    margin-top: 20px;
    padding: 15px 30px;
    border-radius: 4px;
}
.section-3 .container a:hover {
    background-color: #ef7132;
    transition: all .3s;
}

/* Section 4 */

.section-4 {
    display: flex;
    flex-direction: column;
    align-items: center;

    font-family: "Barlow Condensed", sans-serif;

    height: 1220px;
}
.section-4 .horizontal {
    display: flex;
    align-items: center;

    width: 100%;

    padding: 100px 104.5px;
}

.section-4 .horizontal h3 {
    font-size: 70px;
    font-weight: 700;
    color: #2b2b2b;
    line-height: 1;

    width: 38.238%;

    border-right: 2px solid #ef3300;
}


.section-4 .horizontal p {
    font-size: 19px;
    font-weight: 400;

    width: 61.762%;
    padding-left: 25px;
    line-height: 1.9em;
}

.section-4 .vertical {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.section-4 .vertical h3 {
    font-size: 70px;
    font-weight: 700;
    color: #2b2b2b;
    line-height: 1;

    margin-bottom: 20px;
    text-align: center;

    width: 550px;
}

.section-4 .vertical span {
    font-size: 34px;
    font-weight: 400;
    color: #ef5f00;

    margin-bottom: 20px;
}

.section-4 .vertical p {
    font-size: 19px;
    font-weight: 400;
    line-height: 1.9em;
    text-align: justify;

    margin-bottom: 20px;
    width: 800px;
}

.section-4 a {
    display: flex;
    align-items: center;
    justify-content: center;
    align-self: flex-start;

    margin-left: 275px;

    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    color: white;
    font-size: 18px;

    background-color: #ff4800;
    border-radius: 5px;
    width: 481px;
    height: 54px;
}

.section-4 a:hover {
    background-color: #4526b5;
    transition: all .3s;
}

/* FAQ */

.faq {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    background-image: url(./images/thumb-1920-677008-min-1-min.png);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 110% auto;
    
    position: relative;
    height: 655.19px;
    width: 100%;

    font-family: 'Roboto', sans-serif;

    z-index: 0;
}

.faq .background {
    background-color: #050505;
    opacity: 0.63;

    width: 100%;
    height: 100%;
    position: absolute;
    z-index: -1;
}

.faq .container-svg {
    fill: white;
    overflow: hidden;
    width: 100%;
}

.faq .container-svg .svg-top {
    position: absolute;
    top: -1px;

    width: calc(174% + 1.3px);
    height: 52px;
}

.faq .container-svg .svg-bottom {
    position: absolute;
    bottom: -1px; 

    width: calc(197% + 1.3px);
    height: 32px;

    transform: rotate(180deg);
}

.faq .header {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;

    margin-bottom: 20px;
}

.faq .header .title {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 10px;
}

.faq .header .title svg {
    width: 15%;
    fill: white;

    padding-right: 10px;
}

.faq .header .title h3 {
    font-family: "Barlow Semi Condensed";
    font-size: 55px;
    color: #efefef;
    font-weight: 300;
}

.faq .header p {
    color: white;
    font-weight: 300;
    font-size: 18px;
}

.faq .questions .question {
    display: flex;
    align-items: center;
    justify-content: space-between;

    border-radius: 20px;
    background-color: white;
    width: 1120px;

    padding: 15px;
    margin-bottom: 10px;

    font-weight: 600;
    font-size: 16px;
}

.faq .questions .question:hover {
    transition: all .3s ease-in-out;
    background-color: #414141;
    fill: white;
    color: white;

    cursor: pointer;
}

.faq .questions .question.active {
    background-color: #ef7c17;
    color: white;
    fill: white;
}

.faq .questions .question.active .arrow {
    transform: rotate(90deg);
    transition: all .3s ease-in-out;
}

.faq .questions .question span {
    font-family: 'Roboto';
    font-size: 16px;
    font-weight: 600;
    line-height: 1;

    flex: 1;
    margin-left: 10px;
}

.faq .questions .question .plus {
    width: 14px;
    height: 16px;

    margin-left: 10px;
}

.faq .questions .question .arrow {
    width: 8px;
    height: 16px;

    margin-right: 10px;
    transition: all .3s ease-in-out;
}

.faq .questions .question .arrow:hover {
    fill: white;
}

.faq .questions .answer {
    position: relative;
    overflow: hidden;
    text-align: justify;

    display: none;
}

.faq .questions .answer p {
    font-family: "Roboto";
    font-weight: 300;
    font-size: 14px;
    color: white;
    line-height: 1.7;
}

/* Footer */

footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    height: 101.89px;
}

footer a {
    font-family: "Barlow Condensed", sans-serif;
    font-size: 55px;
    font-weight: 700;
    color: #444;
    line-height: 1;
}

footer span {
    font-family: "Barlow Condensed", sans-serif;
    font-size: 17px;
    font-weight: 300;
    color: #444444;
    line-height: 1;
}
